#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/devel/kaineer/deepseek.md/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/devel/kaineer/deepseek.md/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/devel/kaineer/deepseek.md
export PROJECT_BIN=/home/kaineer/devel/kaineer/deepseek.md/bin
export PROJECT_NAME=deepseek.md
export PROJECT_CREATED="25.03.2026"
